@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,718;1,718&display=swap");
@import "tailwindcss";

:root {
  --primary-bg-color: #212121;
  --primary-color: #ffffff;
}

@theme {
  --color-stackrgreen-500: #4ddf7b;
  --color-stackrgreen-200: #86ffac;
  --color-stackrblack: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}
