@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,718;1,718&display=swap");
@import "tailwindcss";
@import "primeicons/primeicons.css";

@font-face {
  font-family: ProximaNova;
  src: url("/fonts/proximanova_extrabold.otf");
}

@font-face {
  font-family: ProximaNova-Reg;
  src: url("/fonts/proximanova_regular.ttf");
}

@font-face {
  font-family: ProximaNova-Bold;
  src: url("/fonts/proximanova_bold.otf");
}

@theme {
  --color-stackrgreen-500: #4ddf7b;
  --color-stackrgreen-200: #86ffac;
  --color-stackrblack: #212121;
  --color-stackrgrey-light: #9e9e9e;
  --font-ProximaNova: ProximaNova, "sans";
  --font-ProximaNova-Reg: ProximaNova-Reg, "sans";
  --font-ProximaNova-Bold: ProximaNova-Bold, "sans";
  --inner-circle-color: light-dark(
    var(--color-stackrgreen-500),
    rgb(190, 83, 83)
  );
  --outer-circle-color: light-dark(#ffffff, var(--color-stackrblack));
  --primary-bg-color: light-dark(#ffffff, var(--color-stackrblack));
  --primary-color: light-dark(var(--color-stackrblack), #ffffff);
}

:root {
  color-scheme: dark;
}

::-moz-selection {
  background-color: var(--color-stackrgreen-500);
  color: var(--color-stackrblack);
}

::selection {
  background-color: var(--color-stackrgreen-500);
  color: var(--color-stackrblack);
}

body {
  transition: all 0.3s ease-out;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
}
